<template>
   <div class="home">
      <v-overlay :value="loading">
         <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>

      <generic-container title="Rooms" height="600px">
         <section class="d-flex align-center" style="margin-top: 5px;" v-for="(room, index) in rooms" :key="index">
            <span v-if="!room.player1 && !room.player2" class="rounded-circle success pastille">0</span>
            <span v-if="(room.player1 && !room.player2) || (!room.player1 && room.player2)" class="rounded-circle success pastille">1</span>
            <span v-if="room.player1 && room.player2" class="rounded-circle error pastille">2</span>
            <span style="cursor: pointer" @click="redirectToRoom(room)">{{room.name}}</span>
         </section>
      </generic-container>

      
      <!-- CREATE ROOM -->
      <section class="create-room">
         <h2>Create a room: </h2>
         <v-form @submit.prevent="handleCreateRoom()">
            <v-text-field v-model="roomName" style="margin-right: 15px;" label="Room name" placeholder="ex: Ez win" outlined/>
            <v-btn type="submit" color="primary">Create</v-btn>
         </v-form>
      </section>
   </div>
</template>

<script>
import { mapActions } from 'vuex'
import GenericContainer from '@/components/GenericContainer'

export default {
   components: {
      GenericContainer,
   },
   data() {
      return {
         loading: true,
         rooms: [],
         roomName: null
      }
   },
   methods: {
      ...mapActions(['getRooms', 'createRoom']),
      async redirectToRoom(room) {
         this.$router.push(`/room/${room.id}`)
      },
      async handleCreateRoom() {
         await this.createRoom({ name: this.roomName })
         this.roomName = null
         this.rooms = await this.getRooms()
         this.$emit('output', 'roomCreated')
      }
   },
   async mounted () {
      this.rooms = await this.getRooms()
      this.loading = false
   },
}
</script>

<style lang="scss" scoped>
.home {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.pastille {
   padding: 1px 8px;
   color: white;
   margin-right: 5px;
}

.create-room {
   margin-top: 25px;
   h2 {
      text-align: center;
      margin-bottom: 10px;
      font-weight: 400;
   }
   form {
      display: flex;
      align-items: baseline;
   }
}
</style>