<template>
   <div class="login">
      <generic-container title="Login" titleSize="18px" :titleCenter="false">
         <v-form @submit.prevent="handleLogin()" style="padding: 0px 10px">
            <v-text-field v-model="form.pseudo" label="Pseudo" placeholder="5 caractères minimum"/>
            <v-text-field v-model="form.password" type="password" label="Password" placeholder="5 caractères minimum"/>
            <v-btn type="submit" color="primary"><v-icon class="mr-2">mdi-account</v-icon>Login</v-btn>
         </v-form>
      </generic-container>
   </div>
</template>

<script>
import { mapActions } from 'vuex'
import GenericContainer from '@/components/GenericContainer'

export default {
   components: {
      GenericContainer,
   },
   data() {
      return {
         form: { pseudo: '', password: '' }
      }
   },
   methods: {
      ...mapActions(['login']),
      async handleLogin() {
         try {
            await this.login(this.form)
            this.$emit('output', 'login')
            this.$router.push('/')
         } catch (error) {
            this.$emit('output', 'errorLogin')
            this.form.password = ''
         }
      }
   },
}
</script>

<style lang="scss" scoped>
.login {
   display: flex;
   flex-direction: column;
   align-items: center;
}
</style>