<template>
   <div class="register">
      <generic-container title="Login" titleSize="18px" :titleCenter="false">
         <v-form @submit.prevent="handleRegister()" style="padding: 0px 10px">
            <v-text-field v-model="form.pseudo" label="Pseudo" placeholder="5 caractères minimum"/>
            <v-text-field v-model="form.password" type="password" label="Password" placeholder="5 caractères minimum"/>
            <v-btn type="submit" color="primary"><v-icon class="mr-2">mdi-account</v-icon>Register</v-btn>
         </v-form>
      </generic-container>
   </div>
</template>

<script>
import { mapActions } from 'vuex'
import GenericContainer from '@/components/GenericContainer'

export default {
   components: {
      GenericContainer,
   },
   data() {
      return {
         form: { pseudo: '', password: '' }
      }
   },
   methods: {
      ...mapActions(['register']),
      async handleRegister() {
         try {
            await this.register(this.form)
            this.$emit('output', 'login')
            this.$router.push('/login')
         } catch (error) {
            this.$emit('output', 'errorRegister')
            this.form = { pseudo: '', password: '' }
         }
      }
   },
}
</script>

<style lang="scss" scoped>
.register {
   display: flex;
   flex-direction: column;
   align-items: center;
}
</style>