<template>
   <section>
      <v-overlay :value="!load">
         <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
      
      <article v-if="load" class="room">
         <generic-container :title="room.name">
            <div class="d-flex justify-space-between">
               <h3 v-if="player1">{{player1.pseudo}}</h3>
               <h3 v-if="player2">{{player2.pseudo}}</h3>
            </div>
         </generic-container>
      </article>
   </section>
</template>

<script>
import { mapActions } from 'vuex'
import GenericContainer from '@/components/GenericContainer'

export default {
   components: {
      GenericContainer,
   },
   data() {
      return {
         load: false,
         room: null,
         player1: null,
         player2: null
      }
   },
   methods: {
      ...mapActions(['getRooms', 'getUsers'])
   },
   async mounted () {
      this.room = await this.getRooms(this.$route.params.id);

      this.player1 = this.room.player1 ? await this.getUsers(this.room.player1) : null;
      this.player2 = this.room.player2 ? await this.getUsers(this.room.player2) : null;

      this.load = true
   },
}
</script>

<style lang="scss" scoped>
.room {
   display: flex;
   flex-direction: column;
   align-items: center;
}
</style>