<template>
   <section class="generic-container">
      <article class="generic-container-title">
         <h2 :style="titleSize ? 'font-size:' + titleSize : null" :class="{'title-centered': titleCenter}">{{title}}</h2>
      </article>
      <article class="generic-container-content" :style="height ? 'height:' + height : null">
         <slot></slot>
      </article>
   </section>
</template>

<script>
export default {
   props: {
      title: {
         type: String,
         required: true
      },
      height: {
         type: String
      },
      titleCenter: {
         type: Boolean,
         default: true
      },
      titleSize: {
         type: String
      }
   },
}
</script>

<style lang="scss" scoped>
.generic-container {
   border: solid 1px #EBEBEB;
   border-radius: 5px;
}

.generic-container-title {
   background-color: #F8F8F8;
   border-bottom: solid 1px #EBEBEB;
   padding: 10px;
   .title-centered {
      text-align: center;
   }
   h2 {
      font-weight: 400;
   }
}

.generic-container-content {
   overflow: auto;
   width: 500px;
   padding: 10px;
}
</style>