<template>
   <div>
      <v-app-bar color="#f8f8f8" flat style="border-bottom: solid 1px #ebebeb">
         <div class="d-flex justify-center" style="width: 100%;">
            <section class="d-flex justify-space-between align-center" style="width: 90%;">
               <article class="d-flex align-center">
                  <router-link to="/"><h2 style="margin-right: 25px">Janken</h2></router-link>
                  <router-link to="/">Home</router-link>
               </article>
               <article v-if="$store.state.user">
                  <span style="margin-right: 25px">{{$store.state.user.pseudo}}</span>
                  <span style="cursor: pointer" @click="handleLogout()" to="/">Logout</span>
               </article>
               <article class="d-flex" v-else>
                  <router-link to="/login" style="margin-right: 25px">Login</router-link>
                  <router-link to="/register">Register</router-link>
               </article>
            </section>
         </div>
      </v-app-bar>
   </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
   methods: {
      ...mapActions(['logout']),
      handleLogout() {
         this.logout()
         this.$router.push('/login')
      }
   },
}
</script>

<style scoped>
h2 {
   margin-bottom: 3px;
   color: #838383;
   font-weight: 400;
}
span {
   color: #838383;
}
a {
   color: #838383!important;
   text-decoration: none;
}
</style>