<template>
   <v-app>
      <v-main>
         <header-bar/>
         <router-view style="margin-top: 50px;" @output="handleEvent"/>
         <v-snackbar v-model="snackbar" :timeout="3000" :color="snackbarConfig.color" right>{{snackbarConfig.label}}</v-snackbar>
      </v-main>
   </v-app>
</template>

<script>
import HeaderBar from '@/components/HeaderBar'

export default {
   name: 'App',
   components: {
      HeaderBar
   },
   data() {
      return {
         snackbar: false,
         snackbarConfig: { color: '', label: '' }
      }
   },
   methods: {
      handleEvent(data) {
         switch (data) {
            case 'login':
               this.snackbarConfig = { color: 'success', label: 'Logged in' }
               break
            case 'errorLogin':
               this.snackbarConfig = { color: 'error', label: 'Pseudo or password incorrect' }
               break
            case 'errorRegister':
               this.snackbarConfig = { color: 'error', label: 'Pseudo already taken' }
               break
            case 'register':
               this.snackbarConfig = { color: 'success', label: 'Registered' }
               break
            case 'roomCreated':
               this.snackbarConfig = { color: 'success', label: 'Room created' }
               break
         }

         this.snackbar = true
      }
   },
};
</script>

<style lang="scss">
</style>
